# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore files
!Makefile
!makefile

# files
a.out
*.o
*.obj
compile_commands.json
temp*
tmp*
*.swp

# directories
expm
.clangd
