# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# common
## files
a.out
*.o
*.obj
compile_commands.json
temp*
tmp*
*.swp
*.exe
## directories
expm
.clangd

# cmake
CTestTestfile.cmake
cmake_install.cmake
CMakeCache.txt
CMakeFiles
Testing
